!!!
%html
  %head
    %title MyApp
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"            type="text/javascript")
    %script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"      type="text/javascript")
    %script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js" type="text/javascript")
    = settings.application_js.to_html # Load js files.

  %body
    = yield
